body{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Krakow_Blonia_%28Meadow%29_view_to_W%2CKrakow%2CPoland.jpg/1280px-Krakow_Blonia_%28Meadow%29_view_to_W%2CKrakow%2CPoland.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Lora', serif;
  color: black;
  font-size: 18px;
}
